{% extends "base.html" %}

{% block title %}
  Edit Income 
{% endblock title %}


{% block body %}
  
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Edit Income 
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-body">
                        {{form}}
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
  
</div>
{% endblock body %}